@font-face {
    font-family: "Computer Modern";
    src: url('https://demonstrandum.net/fonts/cmunss.otf');
}
@font-face {
    font-family: "Computer Modern";
    src: url('https://demonstrandum.net/fonts/cmunsx.otf');
    font-weight: bold;
}
@font-face {
    font-family: "Computer Modern";
    src: url('https://demonstrandum.net/fonts/cmunsi.otf');
    font-style: italic, oblique;
}
@font-face {
    font-family: "Computer Modern";
    src: url('https://demonstrandum.net/fonts/cmunbxo.otf');
    font-weight: bold;
    font-style: italic, oblique;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: "Computer Modern", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  overflow:  hidden;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #cfcfcf;
    background: #0c0c0f;
  }
}
