.main_text {
    width: 45rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    font-size: 5rem;
    text-align: center;
    
    border: 1px solid white;
    border-radius: 1rem;
    background-color: #0b0b0c;
    
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
